// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";
@import "~@creativebulma/bulma-tooltip/src/sass/index";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper { flex: 1; }

.has-text-orange { color: #FF9800; }

.is-bordered {
    border: 1px solid #0a0a0a;
}

.footer-frontend {
    background-color: #0d47a1;
}

.table-link {
    color: #0d47a1;
}

a.table-link:hover {
    color: #00d138;
}
